input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body{
    background-image: url('backg.jpg');
    background-size:cover;
    background-attachment: fixed;
    font-family: 'Jost', sans-serif;
    background: #fff;
    
}
.box{
    padding: 50px 40px 0 40px;
    font-size:x-large;
    font-weight: bold;
    background:linear-gradient(to bottom, rgba(160, 218, 244, 0.4),rgb(235, 209, 101,0.4));
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(222, 19, 19, 0.36);
    width: 25%;
    height:25%;
    border-radius: 20px;
    margin: 8% auto;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
   
}
.container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.otp{
  display: flex;
  gap: 5px;
  justify-content: end;
  padding-left: 3.2rem;
}
.formgrp{
    /* border: 1px solid grey;
    padding: 8px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease; */

    background: #e0dede;
    background: #e0dede;
	justify-content: center;
	display: flex;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
    

}

h2{
  color: #fff;
	font-size: clamp(1rem, 4vw, 3rem);
	justify-content: center;
  font-family: 'Jost', sans-serif;
  display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
  white-space: nowrap;
}

/* input{
	width: 60%;
	height: 20px;
	
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
} */
.formgrp:focus{
  border-color: #007bff; 
  outline: none;
}
.button {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  width: 50%;
}

.button:hover {
  background-color: #374151;
}

.button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
#link{
    margin-left: 8% auto;
}
#send{
    font-size: large;
    font-weight:bold;
    background-color:brown;
    border-radius: 15px;
    border: 0;
    outline: none;
    color: #fff;
}


