body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #6b816c;
  }
  .container {
    max-width: 500px;
    margin: 40px auto;
    /* margin-top: -20px; */
    background:rgba(255,255,255,0.6);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  h2 {
    text-align: center;
    color: #333;
  }
  .form-group {
    margin-bottom: 10px;
  }
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
  }
  textarea {
    height: 120px;
  }
  .rating-group {
    margin-bottom: 20px;
  }
  .rating-group label {
    margin-right: 15px;
    display: inline-block;
  }
  input[type="radio"] {
    margin-right: 5px;
    vertical-align: middle;
  }
  input[type="submit"] {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    width: 100%;
    transition: background-color 0.3s;
  }
  input[type="submit"]:hover {
    background: #45a049;
  }

.toaster{
    display: flex;
    justify-content: center;
    align-items: center;
}
.toast{
    
    background-color: #fff;
    transform: scale(0);;
    padding: 10px 5px;
    margin-top: -130px;
    background-color: #f0f0f0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 3px;
    max-width: 300px;
}
.toast-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.toast-header {
    text-align: center;
}

.toast-header strong {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

.toast-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color:red;
}

.toast-header button:hover {
    text-decoration: underline;
}

